// user-variables.scss
// Use this to overwrite Bootstrap and Front variables
//
$wfblue: #1a4985;
$wfgreen: #58AB47;
$wfdarkblue: #12335d;

$primary: $wfblue;
$secondary: $wfgreen;
$font-family-base: "Poppins", Helvetica, Arial, sans-serif !default;

$theme-colors: (
  "primary": $wfblue,
  "secondary": $wfgreen,
  "dark": $wfdarkblue
  );

// Example of a variable override to change Front's primary color and font size
// Remove the "//" to comment it in and see it in action!
// $primary: $red;
// $font-size-base: .875rem;



// The color of the SVG loader should be modified manually.
// See assets/svg/components/circle-preloader.svg
