{{ define "main"}}

{{/*{{ partial "commingsoon" . }}


<!-- Description Section -->
<div class="container space-2">
    <div class="w-lg-75 mx-lg-auto">
      
  
      <form class="js-validate">
      
        <div class="border-bottom mb-4">
          <h3>Sequences</h3>
        </div>
        <!-- Form Group -->
        <div class="form-group">
          <label class="input-label">Upload the FASTQ files containing the DNA sequences  <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="Maximum file size 10 MB."></i></label>
  
          <div id="resumeAttach" class="js-dropzone dz-dropzone dz-dropzone-boxed">
            <div class="dz-message p-2">
              <span class="d-block mb-1">Browse your files</span>
              <small class="d-block text-muted">or drag' n' drop here</small>
            </div>
          </div>
        </div>
        <!-- End Form Group -->

        <div class="border-bottom mb-4">
          <h3>Farm information</h3>
        </div>

        <div class="form-group">
        <!-- Radio Checkbox Group -->
    <div class="row mx-n2">
      <div class="col-6 col-md-3 px-2 mb-3 mb-md-0">
        <div class="custom-control custom-radio custom-control-inline checkbox-outline checkbox-icon text-center w-100 h-100">
          <input type="radio" id="typeOfListingRadio1" name="typeOfListingRadio1" class="custom-control-input checkbox-outline-input checkbox-icon-input">
          <label class="checkbox-outline-label checkbox-icon-label w-100 rounded py-3 px-1 mb-0" for="typeOfListingRadio1">
            
            <span class="d-block">Carp</span>
          </label>
        </div>
      </div>
      <div class="col-6 col-md-3 px-2 mb-3 mb-md-0">
        <div class="custom-control custom-radio custom-control-inline checkbox-outline checkbox-icon text-center w-100 h-100">
          <input type="radio" id="typeOfListingRadio2" name="typeOfListingRadio1" class="custom-control-input checkbox-outline-input checkbox-icon-input" checked>
          <label class="checkbox-outline-label checkbox-icon-label w-100 rounded py-3 px-1 mb-0" for="typeOfListingRadio2">
            
            <span class="d-block">Tilapia</span>
          </label>
        </div>
      </div>
      <div class="col-6 col-md-3 px-2">
        <div class="custom-control custom-radio custom-control-inline checkbox-outline checkbox-icon text-center w-100 h-100">
          <input type="radio" id="typeOfListingRadio3" name="typeOfListingRadio1" class="custom-control-input checkbox-outline-input checkbox-icon-input">
          <label class="checkbox-outline-label checkbox-icon-label w-100 rounded py-3 px-1 mb-0" for="typeOfListingRadio3">
            <img class="img-fluid w-50 mb-3" src="../assets/svg/illustrations/multi-family-house.svg" alt="SVG">
            <span class="d-block">Multi-family</span>
          </label>
        </div>
      </div>
      <div class="col-6 col-md-3 px-2">
        <div class="custom-control custom-radio custom-control-inline checkbox-outline checkbox-icon text-center w-100 h-100">
          <input type="radio" id="typeOfListingRadio4" name="typeOfListingRadio1" class="custom-control-input checkbox-outline-input checkbox-icon-input">
          <label class="checkbox-outline-label checkbox-icon-label w-100 rounded py-3 px-1 mb-0" for="typeOfListingRadio4">
            <img class="w-50 mb-3" src="../assets/svg/illustrations/farm-land.svg" alt="SVG">
            <span class="d-block">Farms/land</span>
          </label>
        </div>
      </div>
    </div>
    <!-- End Radio Checkbox Group --></div>
  
    <div class="btn-group btn-group-toggle btn-group-segment" data-toggle="buttons">
      <label class="btn btm-primary">
        <input type="radio" name="experienceInSimilaryAreaOptions" id="experienceInSimilaryAreaOption1"> <i class="fas fa-check mr-1"></i> Carp
      </label>
      <label class="btn">
        <input type="radio" name="experienceInSimilaryAreaOptions" id="experienceInSimilaryAreaOption2"> <i class="fas fa-times mr-1"></i> Tilapia
      </label>
    </div>

        <div class="row">
          <div class="col-sm-6">
            <!-- Form Group -->
            <div class="form-group">
              <label for="firstName" class="input-label">Common name</label>
              <input type="text" class="form-control" name="commonName" id="commonName" placeholder="Nataly" aria-label="Nataly">
            </div>
            <!-- End Form Group -->
          </div>
  
          <div class="col-sm-6">
            <!-- Form Group -->
            <div class="form-group">
              <label for="lastName" class="input-label">Scientific name</label>
              <input type="text" class="form-control" name="scienfiticName" id="scienfiticName" placeholder="Gaga" aria-label="Gaga">
            </div>
            <!-- End Form Group -->
          </div>
        </div>
        <!-- End Row -->
  
        <!-- Form Group -->
        <div class="form-group">
          <label for="email" class="input-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="nayagaga@pixeel.com" aria-label="alex@pixeel.com">
        </div>
        <!-- End Form Group -->
  
        <!-- Form Group -->
        <div class="js-add-field form-group"
             data-hs-add-field-options='{
                "template": "#addPhoneFieldTemplate",
                "container": "#addPhoneFieldContainer",
                "defaultCreated": 0
              }'>
          <label for="phoneLabel" class="input-label">Phone <span class="input-label-secondary">(Optional)</span></label>
  
          <div class="input-group align-items-center">
            <input type="text" class="js-masked-input form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx"
                   data-hs-mask-options='{
                     "template": "+0(000)000-00-00"
                   }'>
  
            <div class="input-group-append">
              <!-- Select -->
              <select class="js-custom-select custom-select dropdown-toggle" name="phoneSelect"
                    data-hs-select2-options='{
                      "minimumResultsForSearch": "Infinity",
                      "customClass": "custom-select",
                      "dropdownAutoWidth": true,
                      "width": true
                    }'>
                <option value="Mobile" selected>Mobile</option>
                <option value="Home">Home</option>
                <option value="Work">Work</option>
                <option value="Fax">Fax</option>
                <option value="Direct">Direct</option>
              </select>
              <!-- End Select -->
            </div>
          </div>
  
          <!-- Container For Input Field -->
          <div id="addPhoneFieldContainer"></div>
  
          <a href="javascript:;" class="js-create-field form-link btn btn-xs btn-no-focus btn-ghost-primary">
            <i class="fas fa-plus mr-1"></i>
            Add phone
          </a>
        </div>
        <!-- End Form Group -->
  
        <!-- Add Phone Input Field -->
        <div id="addPhoneFieldTemplate" style="display: none;">
          <div class="input-group input-group-add-field">
            <input type="text" class="js-masked-input form-control" data-name="additionlPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx"
                   data-hs-mask-options='{
                     "template": "+0(000)000-00-00"
                   }'>
  
            <div class="input-group-append">
              <!-- Select -->
              <select class="js-custom-select-dynamic btn btn-white dropdown-toggle"
                    data-name="additionlPhoneSelect"
                    data-hs-select2-options='{
                      "minimumResultsForSearch": "Infinity",
                      "customClass": "custom-select",
                      "dropdownAutoWidth": true,
                      "width": true
                    }'>
                <option value="Mobile" selected>Mobile</option>
                <option value="Home">Home</option>
                <option value="Work">Work</option>
                <option value="Fax">Fax</option>
                <option value="Direct">Direct</option>
              </select>
              <!-- End Select -->
            </div>
  
            <a class="js-delete-field input-group-add-field-delete" href="javascript:;">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
        <!-- End Add Phone Input Field -->
  
        <div class="border-bottom mt-10 mb-4">
          <h3>Profile</h3>
        </div>
  
        <!-- Form Group -->
        <div class="form-group">
          <label for="summary" class="input-label">Summary</label>
  
          <textarea class="form-control" rows="6" name="summary" id="summary" placeholder="In a few words, tell us about yourself..." aria-label="In a few words, tell us about yourself..." required></textarea>
        </div>
        <!-- End Form Group -->
  
        <!-- Form Group -->
        <div class="form-group">
          <label class="input-label">Resume/CV and Cover Letter <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="Maximum file size 10 MB."></i></label>
  
          <div id="resumeAttach" class="js-dropzone dz-dropzone dz-dropzone-boxed">
            <div class="dz-message p-2">
              <span class="d-block mb-1">Browse your files</span>
              <small class="d-block text-muted">or drag' n' drop here</small>
            </div>
          </div>
        </div>
        <!-- End Form Group -->

        
  
        <div class="border-bottom mt-10 mb-4">
          <h3>Details</h3>
        </div>
  
        <!-- Form Group -->
        <div class="form-group">
          <label class="input-label">Do you have the right to work in the UK?</label>
  
          <!-- Button Group -->
          <div class="btn-group btn-group-toggle btn-group-segment" data-toggle="buttons">
            <label class="btn">
              <input type="radio" name="rightToWorkInUkLabelOptions" id="rightToWorkInUkLabelOption1"> <i class="fas fa-check mr-1"></i> Yes
            </label>
            <label class="btn">
              <input type="radio" name="rightToWorkInUkLabelOptions" id="rightToWorkInUkLabelOption2"> <i class="fas fa-times mr-1"></i> No
            </label>
          </div>
          <!-- End Button Group -->
        </div>
        <!-- End Form Group -->
  
        <!-- Form Group -->
        <div class="form-group">
          <label for="noticePeriod" class="input-label">Notice Period</label>
          <input type="text" class="form-control" name="noticePeriod" id="noticePeriod" placeholder="2 months" aria-label="2 months">
        </div>
        <!-- End Form Group -->
  
        <!-- Form Group -->
        <div class="form-group">
          <label class="input-label">Upload your portfolio <i class="far fa-question-circle text-body ml-1" data-toggle="tooltip" data-placement="top" title="Maximum file size 10 MB."></i></label>
  
          <div id="portfolioAttach" class="js-dropzone dz-dropzone dz-dropzone-boxed">
            <div class="dz-message p-2">
              <span class="d-block mb-1">Browse your files</span>
              <small class="d-block text-muted">or drag' n' drop here</small>
            </div>
          </div>
        </div>
        <!-- End Form Group -->
  
        <!-- Form Group -->
        <div class="form-group">
          <label for="expectedSalary" class="input-label">Expected salary</label>
          <input type="text" class="form-control" name="expectedSalary" id="expectedSalary" placeholder="2 months" aria-label="2 months">
        </div>
        <!-- End Form Group -->
  
        <!-- Form Group -->
        <div class="form-group">
          <label class="input-label">Do you have experience designing for mobile?</label>
  
          <!-- Button Group -->
          <div class="btn-group btn-group-toggle btn-group-segment" data-toggle="buttons">
            <label class="btn">
              <input type="radio" name="experienceInSimilaryAreaOptions" id="experienceInSimilaryAreaOption1"> <i class="fas fa-check mr-1"></i> Yes
            </label>
            <label class="btn">
              <input type="radio" name="experienceInSimilaryAreaOptions" id="experienceInSimilaryAreaOption2"> <i class="fas fa-times mr-1"></i> No
            </label>
          </div>
          <!-- End Button Group -->
        </div>
        <!-- End Form Group -->
  
        <div class="mt-7">
          <button type="submit" class="btn btn-block btn-primary">Submit application</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Description Section -->
*/}}



<div class="container-flex space-2">
  <div class="container">
      <div class="justify-content-center">
        <div class="w-md-80 w-lg-50 mx-md-auto mb-5">
          
          <div class="mb-5 mb-md-9">
            <span class="d-block small font-weight-bold text-cap mb-2">AquaPath</span>
            <h2 class="h1">Aquaculture pathogen identification tool</h2>
          </div>

          
          </div>
<div class="w-lg-80 mx-md-auto">

  <div class="alert alert-soft-primary mb-5 mb-md-9" role="alert">
    <h4 class="alert-heading">
      <i class="fas fa-info-circle mt-1 mr-1"></i>
      Alpha version
    </h4>
    <p>AquaPath identification tool from Lab in a Backpack is currently being tested. We would love to hear your opinion. If you experience any problems, have a question, or have some feedback, please contact Jerome at <a href="mailto:j.delamare@cgiar.org">j.delamare@cgiar.org</a>.</p>

  </div>
        <form onsubmit="return fetchpost()">

          <div class="row form-group">
            <label for="emailField" class="col-sm-3 col-form-label input-label">Email<span class="text-muted small"> (optional)</span> </label>
      
            <div class="col-sm-9">
              <input type="email" class="form-control" id="emailField" placeholder="your@email.com">
              <span class="text-muted font-size-1">So we can link different requests to you and send you detailed information when available.</span>
            </div>
          </div>
    
          <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label">Sequence</label>
      
            <div class="col-sm-9">
              <!-- File Attachment Input -->
              <div class="input-group mb-3">
                <!--<input class="form-control" type="file" id="formFile" onchange="validate_file();validate_form()">-->

                <div>
                  <!--
                  <input id="formFile" name="file-attachment" type="file" class="js-file-attach custom-file-input" onchange="validate_file();validate_form()" 
                  data-hs-file-attach-options='{
                    "textTarget": "[for=\"formFile\"]", 
                    "maxFileSize": 102400,
                    "allowTypes": [".fastq"]
                  }'>
             <label class="custom-file-label" for="formFile">Choose a file</label>-->
             <input type="file" id="formFile" name="file-attachment" class="py-2" onchange="validate_file();validate_form()" style="width: 100%">
             <p class="text-muted font-size-1 mb-0">Browse your device and upload a .fastq file. Maximum file size 100 MB</p>
                </div>
                  
                
            </div>

            
              <!-- End File Attachment Input -->
            </div>
            
          </div>

          <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label">Classifiers</label>
      
            <div class="col-sm-9">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="classifier" id="sa_mlst" value="sa_mlst" onchange="validate_classifier();validate_form()">
                <label class="custom-control-label" for="sa_mlst">Group B Streptococcus - (multilocus) sequence type</label>
              </div>
              
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="classifier" id="sa_sero" value="sa_sero" onchange="validate_classifier();validate_form()">
                <label class="custom-control-label" for="sa_sero">Group B Streptococcus- serotype</label>
              </div>

              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="classifier" id="yr_sero" value="yr_sero" onchange="validate_classifier();validate_form()">
                <label class="custom-control-label" for="yr_sero">Yersinia ruckeri- serotype</label>
              </div>
            
          </div>
          </div>
          <div class="mt-5">
            <button class="btn btn-secondary" type="submit" id="submit-button">
              <span id="submit-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
              <span class="">Run ID tool</span>
              </button>
          </div>
    
  
         
    
            
        </form>
      </div>
      </div>    
  </div>
</div>

<div class="container-flex space-2">
  <div class="container">
      <div class="w-lg-80 mx-md-auto">
          <div class="results">
          </div>
      </div>    
  </div>
</div>

{{ end }}
